@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
        @apply min-h-screen;
    }

    ::selection {
        @apply bg-blue-500;
    }

    input[type="file"]::-webkit-file-upload-button,
    input[type="file"]::file-selector-button {
        @apply cursor-pointer border-0 bg-gray-500 py-2.5 pl-8 pr-4 text-sm font-medium text-white hover:bg-gray-600;
        margin-inline-start: -1rem;
        margin-inline-end: 1rem;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #334155;
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #475569;
        cursor: pointer;
    }
}
